pytest==7.4.0
pytest-asyncio
qrcode[pil]>=0.21.0
pytest-timeout>=2.1.0
requests==2.31.0
numpy==1.26.4
amqtt
paho-mqtt
pyyaml==6.0.2
websockets>=9.0
aiocoap[ws]==0.4.7
async-upnp-client==0.36.0
fastapi==0.104.0
starlette==0.27.0
uvicorn==0.24.0
anyio==3.7.1
python-multipart>=0.0.6
pyserial>=3.5
bleak>=0.21.0
aiohttp>=3.8.0
aiohttp-cors>=0.7.0
httpx==0.27.0
httpcore==1.0.5